<div class="content-nav-mobile">

  <div class="nav-mobile">

    <div  class="content_nav_link content_service">
      <a (click)="scrollTo('servicios')" class="nav_link" >
        <span class="material-symbols-outlined icon_nav">
        content_paste
        </span>
        <p>SERVICIOS</p>
      </a>
    </div>

    <div class="content_nav_link content_about">
      <a (click)="scrollTo('nosotros')" >
        <span class="material-symbols-outlined icon_nav">
        sentiment_satisfied
        </span>
        <p>NOSOTROS</p>
      </a>
    </div>

    <div (click)="scrollTo('clientes')" class="content_nav_link content_clients">
      <a class="nav_link">
        <span class="material-symbols-outlined icon_nav">
        group
        </span>
        <p>CLIENTES</p>
      </a>
    </div>

    <div class="content_nav_link content_contact">
      <a (click)="scrollTo('contacto')">
        <span class="material-symbols-outlined icon_nav">
        alternate_email
        </span>
        <p>CONTACTO</p>
      </a>
    </div>

  </div>

</div>
