<section class="grid-container">

  <article class="item-productivity">

    <h2 class="text-productivity">
      Mejora del Bienestar y la Productividad Empresarial
    </h2>

    <div class="content-icon-text">
      <svg
        width="154"
        height="140"
        viewBox="0 0 154 140"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        >
        <path
        d="M147.098 35L86.3404 90.4167L54.3625 61.25L6.39563 105M147.098 35H108.725M147.098 35V70"
        stroke="#B0B0B0"
        stroke-width="9"
        stroke-linecap="round"
        stroke-linejoin="round"
        />
      </svg>

    </div>

    <p>
      <strong>GEIN</strong> te garantiza un servicio integral de acompañamiento psicosocial en la <strong>gestión de la salud mental</strong> para fortalecer el bienestar y el rendimiento de tu equipo.
    </p>

  </article>

  <article class="item-team">

    <img
     src="img/team-performance.webp"
     alt="team-performance"
    >

    <div class="sub-item-team">

      <div class="sub-item-team-icon">
        <svg
          width="63"
          height="66"
          viewBox="0 0 63 66"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            opacity="0.8"
            d="M54.7049 12.6775C53.3642 11.2723 51.7723 10.1575 50.0203 9.397C48.2682 8.63645 46.3902 8.245 44.4937 8.245C42.5972 8.245 40.7192 8.63645 38.9671 9.397C37.2151 10.1575 35.6232 11.2723 34.2824 12.6775L31.4999 15.5925L28.7174 12.6775C26.0093 9.84036 22.3362 8.24647 18.5062 8.24647C14.6762 8.24647 11.0031 9.84036 8.29495 12.6775C5.58675 15.5147 4.06531 19.3627 4.06531 23.375C4.06531 27.3874 5.58675 31.2354 8.29495 34.0725L31.4999 58.3825L54.7049 34.0725C56.0463 32.6679 57.1104 31.0003 57.8363 29.1647C58.5623 27.3292 58.936 25.3619 58.936 23.375C58.936 21.3882 58.5623 19.4208 57.8363 17.5853C57.1104 15.7498 56.0463 14.0821 54.7049 12.6775Z"
            stroke="#1E1E1E"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>

      </div>

      <p>
        ¿Sabías que el apoyo a la salud mental en el trabajo aumenta la Productividad y la Motivación hasta un 20%?
      </p>

    </div>



  </article>

  <article class="item-mental-health">

    <img
     src="img/health-performance.webp"
     alt="cargando"
    >

    <div class="sub-item-mental-health">

      <div class="sub-item-mental-health-icon">
        <span class="material-symbols-outlined">
          schedule
        </span>
      </div>

      <p>
        Prevenir el riesgo psicosocial en tu empresa es clave para un entorno laboral saludable y positivo.
      </p>

    </div>

  </article>

  <article class="item-prevention">

    <h2 class="text-prevention">
      Previene el Riesgo Psicosocial en tu Empresa
    </h2>

    <div class="prevention-icon">

      <span class="material-symbols-outlined">
        error
      </span>

    </div>

    <p>
      <strong>GEIN</strong> te garantiza un servicio integral de acompañamiento psicosocial en la <strong>gestión de la salud mental</strong> para fortalecer el bienestar y el rendimiento de tu equipo.
    </p>

  </article>

</section>
