<footer>

  <div class="social-medias">


    <a href="tel:+573105411655">
      <img src="icons/whatsapp.png" alt="icon-whasapp"/>
      <p>310 5411655 | 317 4386587</p>
    </a>

    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/profile.php?id=100093634268842">
      <img src="icons/facebook.png" alt="icon-facebook">
      <p>Gein Salud Mental</p>
    </a>

    <a target="_blank" rel="noopener noreferrer" href="https://x.com/Geinsaludmental">
      <img src="icons/X.png" alt="icon-x">
      <p>&#64;Gein Salud Mental</p>
    </a>


  </div>

  <div class="contact_emails">

    <span class="contact">

      <img class="icon-gmail" src="icons/gmail.png" alt="icon-gmail">

      <ul>

        <li>
          <a href="mailto:psicosocial@geinltda.com">
            psicosocial&#64;geinltda.com
          </a>
        </li>

        <li>
          <a href="mailto:gestionyeduintegral@gmail.com">
            gestionyeduintegral&#64;gmail.com
          </a>
        </li>

        <li>
          <a href="mailto:geinsaspsicosocial@gmail.com">
            geinsaspsicosocial&#64;gmail.com
          </a>
        </li>

      </ul>

    </span>

  </div>

  <div class="moodle-platform">

    <a target="_blank" rel="noopener noreferrer" class="link-moodle" href="https://geinltda.com/psicosocial/">
      <img class="icon-moodle" src="icons/moodle_1.png" alt="icon-moodle">
      <p class="text-moodle">
        <b>MOODLE!</b>
      </p>
    </a>

  </div>

</footer>
