<section>

  <h2 class="title-clients">CLIENTES</h2>

  <article class="flex-container-clients">

    @defer (on immediate) {
      <div class="content-image-clients">

        <img src="clients/Renetour.webp" alt="Renetour">

        <img src="clients/Gruopo_Goo.webp" alt="Gruopo_Goo">

        <img src="clients/Cedi_Colombian.webp" alt="Cedi_Colombian">

        <img src="clients/Winner.webp" alt="Winner">

        <img src="clients/Exporinter.webp" alt="Exporinter">

        <img src="clients/Delpa.webp" alt="Delpa">

        <img src="clients/Grafitintas.webp" alt="Grafitintas">

        <img src="clients/Serviesepciales.webp" alt="Serviesepciales">

        <img src="clients/Superestrellas.webp" alt="Superestrellas">

        <img src="clients/Tandem.webp" alt="Tandem">

        <img src="clients/Sys_Integradas.webp" alt="Sys_Integradas">

        <img src="clients/Alarmas_Eternas.webp" alt="Alarmas_Eternas">

        <img src="clients/Nuevo_Renetur.webp" alt="Nuevo_Renetur">

        <img src="clients/ASC.webp" alt="ASC">

        <img src="clients/Colvapor.webp" alt="Colvapor">

        <img src="clients/Capital_Freight.webp" alt="Capital_Freight">

      </div>
    }


  </article>


</section>
